*{
    margin: 0;
    padding: 0;
}
*,*::before,*::after{
    box-sizing: border-box;
    user-select: none;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

#topContainer{
    display: flex;
    justify-content: space-around;
    align-items:  center;
    background-color: black;
    color: white;
}

#btnContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: 2px solid white;
    padding: 30px;
    height: 80vh;
    border-radius: 50px;
}

#mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#container{
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 60vw;
    display: flex;
    height: 100vh;
    justify-content: space-around;
    background-color: black;
    color: white;
}

.row{
    display: flex;
    flex: 1;
}
.column{
    flex: 1;
    background-color: black;
}


.border1px{
    border: 1px solid white;
}
.border2px{
    border: 2px solid blueviolet;
}
#programmer{
    transition: ease .5s;
    min-width: 100%;
    transition: .5s;
}

#programmer a{
    text-decoration: none;
    background-color: blueviolet;
    color: black;
    border-radius: 10px;
    display: block;
    text-align: center;
    min-height: 100%;
    padding: 2% 0;
    animation: rainbow 2s linear;
    animation-iteration-count: infinite;
    transition: transform .5s, animation .10s linear, animation-iteration-count 0ms;
}


#programmer:hover a{
    transform: scale(1.1);
    animation: rainbowBoxShadow 2s linear;
    animation-iteration-count: infinite;
}

#programmer:active a{
    transition: transform .1s;
    transform: scale(1);
}

.button{
    cursor: pointer;
    border: 2px solid white;
    min-width: 100%;
    text-align: center;
    padding: 5px 10px;
    border-radius: 10px;
    transition: transform .5s ease, box-shadow .5s ease ;
}
.button:hover{
    transform: scale(.9);
    box-shadow: 0 0 50px 10px white;
}

.button:active{
    transition: transform .1s;
    transform: scale(.85);
}

@keyframes rainbow{
    from{
        background-color: blueviolet;
    }
    50%{
        background-color: blue;
    }
    to{
        background-color: blueviolet;
    }
}
@keyframes rainbowBoxShadow{
    from{
        background-color: blueviolet;
        box-shadow: 0 0 50px 10px blueviolet;
    }
    50%{
        background-color: blue;
        box-shadow: 0 0 50px 10px blue;
    }
    to{
        background-color: blueviolet;
        box-shadow: 0 0 50px 10px blueviolet;
    }
}